# Anthropic and groq
ANTHROPIC_API_KEY=sk-ant-XXXXXXXXXX
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXX
# ServiceNow
SERVICENOW_INSTANCE=tu-instancia.service-now.com
SERVICENOW_USER=admin
SERVICENOW_PASSWORD=

# Slack
SLACK_BOT_TOKEN=xoxb-XXXXXXXXXX
SLACK_CHANNEL_ID=C0XXXXXXXXX

# Jira
JIRA_URL=https://tu-empresa.atlassian.net
JIRA_EMAIL=tu@email.com
JIRA_API_TOKEN=

# Gmail
GMAIL_CREDENTIALS_FILE=credentials.json

# UiPath
UIPATH_WEBHOOK_SECRET=
UIPATH_MAESTRO_WEBHOOK_URL=